:root {
  --home-backgorund: #f6fbfc;
  --white: #ffffff;
  --blue: #185f5e;
  --blue-1: #185f5e;
  --blue-2: #54b3ef;
  --dark-blue: #203546;
  --light-blue: #659c91;
  --grey: #a8becb;
  --grey-1: #dae6ed;
  --grey-2: #e6e6e6;
  --grey-3: #989898;
  --grey-4: #4c6579;
  --grey-5: #fbfbfb;
  --grey-6: #e3e7ea;
  --grey-7: #9b9c9d;
  --light-grey: #edf4f5;
  --green: #27ae60;
}
